@charset "UTF-8";

.book-cover{
  display : inline-block;
  width : 276px;
  heith : auto;
  margin: 10px;
  padding : 40px;
  /**/border : 1px dotted green;
  text-align: center;
}

.page-title{
	text-align: center;
}

.book-title {
	footer : left;
}

.image {
 border-style:dashed;
 /**/border : 1px dotted green;
}